body {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  padding-top: 54px;
  color: rgb(196, 196, 196);
  background-color: #303841;
  font-size: 20px;
  text-align: justify;
}

h1 {
  font-size: 62px !important;
}

.bar10::after {
  max-width: 10%;
}
.bar20::after {
  max-width: 20%;
}
.bar30::after {
  max-width: 30%;
}
.bar40::after {
  max-width: 40%;
}
.bar50::after {
  max-width: 50%;
}
.bar60::after {
  max-width: 60%;
}
.bar70::after {
  max-width: 70%;
}
.bar80::after {
  max-width: 80%;
}
.bar90::after {
  max-width: 90%;
}
.bar100::after {
  max-width: 100%;
}
.bar{
  height: 30px;
  max-width: 800px;
  margin: 0 0 10px 0;
  line-height: 30px;
  font-size: 16px;
  color: #303841;
  font-weight: bold;
  padding: 0 0 0 10px;
  position: relative;
}
.bar::before{
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  height: 30px;
  top: 0;
  z-index: -2;
  background: #495057;
}
.bar::after{
  content: '';
  background: #f6c90e;
  height: 30px;
  transition: 0.7s;
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
} 

@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: 17rem;
    padding-right: 17rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;
  text-align: left;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 1.5rem;
}

p.lead {
  font-size: 1.1rem;
  font-weight: 400;
}

.subheading {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.3rem;
}

a:hover {
  text-decoration: none;
}

.social-icons a {
  display: inline-block;
  height: 3.5rem;
  width: 3.5rem;
  background-color: #495057;
  color: #fff !important;
  border-radius: 100%;
  text-align: center;
  font-size: 1.5rem;
  line-height: 3.7rem;
  margin-right: 0.9rem;
  margin-bottom: 12px;
}

.social-icons a:last-child {
  margin-right: 0;
}

.social-icons a:hover {
  background-color: #55687a;
}

.dev-icons {
  font-size: 3.4rem;
}

.dev-icons .list-inline-item i:hover {
  color: #f6c90e;
}

#sideNav .navbar-nav .nav-item .nav-link {
  font-weight: 800;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

#sideNav .navbar-toggler:focus {
  outline-color: #f6c90e;
}

@media (min-width: 992px) {
  #sideNav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 17rem;
    height: 100vh;
  }
  #sideNav .navbar-brand {
    display: flex;
    margin: auto auto 0;
    padding: 0.5rem;
  }
  #sideNav .navbar-brand .img-profile {
    max-width: 10.5rem;
    max-height: 10.5rem;
  }
  #sideNav .navbar-collapse {
    display: flex;
    align-items: flex-start;
    flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
  }
  #sideNav .navbar-collapse .navbar-nav {
    flex-direction: column;
    width: 100%;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item {
    display: block;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    display: block;
  }
}

section.resume-section {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
  max-width: 85rem;
}

section.resume-section .resume-item .resume-date {
  min-width: none;
}

@media (min-width: 768px) {
  section.resume-section {
    min-height: 100vh;
  }
  section.resume-section .resume-item .resume-date {
    min-width: 18rem;
  }
}

@media (min-width: 992px) {
  section.resume-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}

.bg-primary {
  background-color: #3a4750 !important;
}

.text-primary {
  color: #f6c90e !important;
}

a {
  color: #f6c90e;
}

a:hover, a:focus, a:active {
  color: #f6c90e;
}
